* {
	font-family:Oswald, Arial, sans-serif;
}

body,html{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

#header {
	/*fix centering stuff!*/
	background-color:#8FCEF8;
	height:10.7em;
	width:74.05em;
	font-family:sans-serif;
	padding:0px 15px 0px 0px;
	/*margin-left:auto;
	margin-right:auto;*/
	margin-bottom:-15px;
}


#header h1 {
	position:static;
	margin:0;
	letter-spacing:.38em;
	padding-top:15px;
	padding-left:.32em;
	padding-bottom:.185em;
	text-align:center;
	font-size:3.7em;
	color:#ea7124;
}

.horizbar{
	background-color:#ea7124;
	width:45em;
	height:.05em;
	margin-left:auto;
	margin-right:auto;
}

.navbar ul{
	position:relative;
	float:left;
	margin:0px 0px 0px -1.7em;
	list-style:none;
	width:100%;
	text-align:center;
	color:#ea7124;
	padding-top:1.15em;
}

.navbar li {
	font-size:1.1em;
	display:inline;
	letter-spacing:.15em;
	padding-right:1.15em;
}

.navbar a, a:visited, a:hover{
	color:#ea7124;
	text-align:center;
	text-decoration:none;
	margin:0 auto;
	width:100px;
	padding:13px 12px 12px 12px;
}

.descriptions {
	display:block;
	clear:both;
	width:75em;
	height:34.1em;
	background-color:#E8F4FD;
	padding:0.1px;
	margin:15px 0px -15px 0px;
	display:block;
	clear:both;
	/*opacity:.7;
	background-image:url("images/Altgeld_Pic_2.jpg");*/
}

.blueboxleft {
	width:32.4em;
	height:25.4em;
	/*background-color:#002563;*/
	background-color:rgba(0,37,99,0.96);
	margin-left:2.9em;
	opacity:.9;
	overflow-y:scroll;
	overflow-x:hidden;
}

.blueboxright{
	float:right;
	width:32.4em;
	height:25.4em;
	/*background-color:#002563;*/
	background-color:rgba(0,37,99,0.96);
	margin-top:1.4em;
	margin-right:2.4em;
	overflow-y:scroll;
	overflow-x:hidden;
	opacity:.9;
}

.blueboxleft p{
	padding:0em .5em 0em .5em;
	color:white;
	font-family:Raleway, Arial, sans-serif;
	font-size:1.23em;
	opacity:.9;
}

.blueboxright p {
	color:white;
	font-family:Raleway, Arial, sans-serif;
	padding:0em .5em 0em .5em;
	opacity:1;
	font-size:1.23em;
}


#home {
	position:relative;
}

#home img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#about {
	position:relative;

}

#about img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#contact{
	position:relative;
}

#contact img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#sponsors {
	position:relative;
}

#sponsors img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

#progress{
	position:relative;
}

#progress img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.headerleft {
	margin-left:1.9em;
	letter-spacing:.1em;
}

.headerright{
	text-align:right;
	margin-bottom:0;
	margin-right:;
	padding-bottom:0;
}
